<style>
  .navbar-brand {
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
  }
  .navbar-nav {
    margin-left: 50px;
  }
  body {
    padding-top: 65px;
    background: #D3D3D3;
}
.serviceRequirements{
  background: white;
  padding: 5px;
  border-style: solid;
  overflow: hidden;
}
.commodityTemplate{
  background: white;
  padding: 20px;
  border-style: solid;
  overflow: hidden;
}
.makeAuctionTemplate{
  background: white;
  padding: 10px;
  border-style: solid;
  overflow: hidden;
  margin-top: 10px;
}
.findersFee{
  margin-top: 10px;
}
.atBids{
  margin-top: 10px;
}
.container{
  padding: 10px;
}
.myGroup{
  padding: 0;
}
.commoditySpecsButton{
  margin-bottom: 25px;
}
#div1 {
  width: 350px;
  height: 70px;
  padding: 10px;
  border: 1px solid #aaaaaa;
}
</style>

<nav class="fixed-top navbar navbar-expand-lg navbar-dark bg-dark m-0 p-0">
  <a class="navbar-brand" href="/">AWESOME-Webapp</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

 <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Homepage</a>
      </li>
      <!--<li class="nav-item">
        <a class="nav-link" href="/ui_customer/makeAuction">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/ui_customer/postAuction">Login</a>
      </li>-->
    </ul>
  </div>
</nav>
