<style>
  .navbar-brand {
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
  }

  .navbar-nav {
    margin-left: 50px;
  }

  body {
    padding-top: 65px;
    background: #D3D3D3;
  }

  .serviceRequirements {
    background: white;
    padding: 5px;
    border-style: solid;
    overflow: hidden;
  }

  .commodityTemplate {
    background: white;
    padding: 20px;
    border-style: solid;
    overflow: hidden;
  }

  .makeAuctionTemplate {
    background: white;
    padding: 10px;
    border-style: solid;
    overflow: hidden;
    margin-top: 10px;
  }

  .findersFee {
    margin-top: 10px;
  }

  .atBids {
    margin-top: 10px;
  }

  .container {
    padding: 10px;
  }

  .myGroup {
    padding: 0;
  }

  .commoditySpecsButton {
    margin-bottom: 25px;
  }

  #div1 {
    width: 350px;
    height: 70px;
    padding: 10px;
    border: 1px solid #aaaaaa;
  }
</style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.4/vue.js"></script>
<script src="https://unpkg.com/vue-router@3"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<nav id="nav" class="fixed-top navbar navbar-expand-lg navbar-dark bg-dark m-0 p-0">
  <a class="navbar-brand" href="/ui_provider/provider">AWESOME-Provider</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/ui_provider/postAuction">Post auction</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/ui_provider/myAuctions">My Auctions <span style="color: black; background-color: orange;"> {{number}} </span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/ui_provider/mySLAs">My SLAs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/ui_provider/browseAuctions">Browse Auctions</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/">Sign out</a>
      </li>
    </ul>
  </div>
</nav>

<script type="text/javascript">
  var router = new VueRouter({
    mode: 'history',
    routes: []
  });
  window.app = new Vue({
    router,
    el: '#nav',
    data() {
      return {
        username: '',
        number: '',
        userData: {
          accountBalance: {}
        }
      }
    },
    methods: {
      async created2() {
        console.log("hellooo");
      }
    },
    async created() {
      this.created2();
      //window.setInterval(() => {
        //this.created2()
      //}, 5000)
    }
  });
</script>


<!--<li class="nav-item">
      <a class="nav-link" href="/ui_customer/services">Browse Offered Services</a>
    </li>-->
<!--<li class="nav-item">
      <a class="nav-link" href="/ui_customer/postServiceRequest">Post Service Request</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/ui_customer/myServices">My Services</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/ui_customer/profile">Profile</a>
    </li>-->
<!--  <li class="nav-item">
      <a class="nav-link" href="/services">Services</a>
    </li> -->
<!--  <li class="nav-item">
      <a class="nav-link" href="/postService">Post Service</a>
    </li> -->
<!--<li class="nav-item">
      <a class="nav-link" href="/register">Register</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/login">Login</a>
    </li>
  </ul>
</nav> -->
